.dropbtn {
    background-color: transparent;
    color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    top: 0
  }

  .topcorner{
    position:absolute;
    top:0;
    right:0;
   }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fdcc04;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right: 0;
  }

  .dropdown-content a:hover {
    background: transparent;
    color: #000;
    transform: scale(1.1);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background: transparent;
    color: #000;
    transform: scale(1.1);
  }

  @media  (min-width: 781px) {
    .dropdown {
        opacity: 0;
        left: -99999;
        display: none;
        max-width: 781px;
    }
    .dropdown-content {
        opacity: 0;
        left: -99999;
        display: none;
        max-width: 781px;
  }
  .dropdown-content a{
    opacity: 0;
    left: -99999;
    display: none;
    max-width: 781px;
  }
  .dropdown-content a:hover{
    opacity: 0;
    left: -99999;
    display: none;
    max-width: 781px;
  }
  .dropbtn{
    opacity: 0;
    left: -99999;
    display: none;
    max-width: 781px;
  }
  .dropdown:hover{
    opacity: 0;
    left: -99999;
    display: none;
    max-width: 781px;
  }
  .dropdown:hover dropdown-content{
    opacity: 0;
    left: -99999;
    display: none;
    max-width: 781px;
  }
  .dropdown:hover .dropbtn{
    opacity: 0;
    left: -99999;
    display: none;
    max-width: 781px;
  }
  }